---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	 <div class="mx-auto -mt-12 max-w-7xl py-32 px-6 sm:mt-0 lg:px-8 xl:-mt-8">
		<Hero title="Page Not Found" tagline="Not found" />
    </div>
</BaseLayout>
