---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPreview from "../components/BlogPreview.astro";

const projects = (await getCollection("blog")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="My Blog | David Cauchi"
    description="Some ramblings from a game developer"
>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="pt-8 sm:pt-10">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">Posts</h2>
        </div>
        <main>
            <div class="space-y-2"> 
                {
                    projects.map((project) => (
                        <BlogPreview project={project} />
                    ))
                }
            </div>
        </main>
    </div>
</BaseLayout>