---
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"blog">;
}

const { data, slug } = Astro.props.project;

const date = data.publishDate.toLocaleDateString();
---

<div class="flex items-baseline my-0 p">
    <p class="text-xs italic text-gray-600 dark:text-gray-400 w-24 flex-shrink-0">
        {date}
    </p>
    <a
        href={`/blog/${slug}`}
        class="font-roboto group ml-4 flex-grow"
    >
        <h4
            class="inline-block font-semibold text-gray-900 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-400 border-b border-transparent group-hover:border-blue-600 dark:group-hover:border-blue-400 transition-colors duration-300"
        >
            {data.title}
        </h4>
    </a>
</div>

<style>
    /* Add visited link color */
    a:visited h4 {
        @apply text-indigo-600 dark:text-indigo-400 border-indigo-600 dark:border-indigo-400;
    }
</style>