---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside class="bg-slate-300/50 dark:bg-slate-900/70">
    <h2>Interested in working together?</h2>
    <CallToAction href="mailto:davidcauchi@hey.com">
        Send Me a Message
        <Icon icon="paper-plane-tilt" size="1.2em" />
    </CallToAction>
</aside>

