<div
    class="inline-flex items-center text-sm lg:text-lg sm:text-sm md:text-sm gap-x-2 rounded-full bg-indigo-500 px-4 lg:px-8 md:px-6 sm:px-2 py-1 font-light text-indigo-100"
>
    <slot />
</div>
